*~
org-roam.db
straight/
eshell/
eln-cache/
cnfonts/
.cache/
site-lisp/
bookmarks
.org-id-locations
elpa/
recentf
/.emacs.desktop*
/history
/transient/
/var/
/.mc-lists.el
/_minted-init/
/*.pdf
/*.tex
/request/
/tramp
